@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 3.9%;
}
